# Scheduler
SERVER_URL=your_server_URL
SOURCE_HOST=your_source_host
SOURCE_PORT=your_source_port


## MQTT
#MQTT_BROKER=your_mqtt_broker
#MQTT_PORT=your_mqtt_port
#MQTT_USERNAME=your_mqtt_username
#MQTT_PASSWORD=your_mqtt_password


# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest


# Start
STORAGE_PATH=your_storage_path
DAYS_TO_SUBTRACT=your_days_to_subtract
AVAILABLE_RAM=85
